
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(90, 85, 85);
    height: 14%;
    width: 100%;
    color: black;
    align-items: center;
    padding: 0.8em 2em 0.8em 4em;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    z-index:4;
}

.home-section{
    display: flex;
    flex-direction: row;
    width:20%;
    gap:2em;
}

.home-section:hover{
    cursor: pointer;
    text-decoration: underline;
}

.login-section:hover{
    cursor: pointer;
    text-decoration: underline;
}

.search--bar{
   width: 40%;
}

input{
    width:-webkit-fill-available;
    border-radius: 2rem;
}